node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
storage
bootstrap/cache
vendor
.idea
.vscode
*.md
docker-compose*.yml
Dockerfile*
docker/
tests/
database/*.sqlite
database/*.sqlite-journal
public/hot
public/storage
public/build
*.log
.DS_Store

